@page "/"

<PageTitle>@string.Format(L["Common.PageTitleSuffix"], L["Pages.Dashboard.Title"])</PageTitle>

<div class="cm-page-header">
    <h1>@L["Pages.Dashboard.Title"]</h1>
    <p>@L["Pages.Dashboard.Subtitle"]</p>
</div>

@if (_loading)
{
    <StatCardsSkeleton Count="3" />
}
else if (_error is not null)
{
    <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Light">@_error</RadzenAlert>
}
else
{
    <DashboardStatsCards
        TotalClients="@_overview?.TotalClients"
        TotalServices="@_overview?.TotalServices"
        RequestsPerMinute="@_rpmDisplay" />
}
