@page "/"
@using ClientManager.AdminUI.Models.Charts
@using ClientManager.AdminUI.Models.Dashboard

<PageTitle>@string.Format(L["Common.PageTitleSuffix"], L["Pages.Dashboard.Title"])</PageTitle>

<div class="cm-page-header">
    <h1>@L["Pages.Dashboard.Title"]</h1>
    <p>@L["Pages.Dashboard.Subtitle"]</p>
</div>

@if (_loading)
{
    <StatCardsSkeleton Count="5" />
    <div class="cm-dashboard__charts" style="margin-top: var(--space-xl);">
        <ChartSkeleton />
        <ChartSkeleton />
    </div>
    <TableSkeleton RowCount="6" />
}
else if (_error is not null)
{
    <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Light">@_error</RadzenAlert>
}
else
{
    <DashboardStatsCards
        TotalClients="@_overview?.TotalClients"
        TotalServices="@_overview?.TotalServices"
        TotalResourcePools="@_overview?.TotalResourcePools"
        GlobalUsage="@_globalUsage"
        AcquisitionPct="@_acquisitionPct" />

    <div class="cm-dashboard__charts">
        <DashboardChartsSection
            SelectedFilterType="@_selectedFilterType"
            SelectedFilterTypeChanged="OnFilterTypeChangedAsync"
            SelectedTargetId="@_selectedTargetId"
            SelectedTargetIdChanged="OnTargetChangedAsync"
            SelectedClientIds="@_selectedClientIds"
            SelectedClientIdsChanged="OnClientsChangedAsync"
            FilterTypes="@_filterTypes"
            FilterTargets="@_filterTargets"
            Clients="@_clients"
            TargetCharts="@_targetCharts"
            DonutData="@_donutData"
            DonutDataGeneration="@_donutDataGeneration"
            ChartLoading="@_chartLoading"
            ChartError="@_chartError"
            AxisScaleType="@_axisScaleType"
            InitialTimeRangeKey="@_initialTimeRangeKey"
            InitialPollingKey="@_initialPollingKey"
            InitialAxisScale="@_initialAxisScale"
            InitialCustomFromUtc="@_initialCustomFromUtc"
            InitialCustomToUtc="@_initialCustomToUtc"
            OnFilterChanged="OnFilterChanged"
            OnTimeRangeChanged="OnTimeRangeChanged"
            OnPollingIntervalChanged="OnPollingIntervalChanged"
            OnAxisScaleChanged="OnAxisScaleChanged"
            PollingKey="@_pollingKey" />
    </div>

    <DashboardClientTable
        AllRows="@_clientSummaries"
        FilteredRows="@_filteredClientSummaries"
        SearchText="@_tableSearch"
        SearchTextChanged="OnTableSearchTextChangedAsync"
        OnSearchChanged="OnTableSearchChanged" />
}
