@page "/allocations"
@using ClientManager.AdminUI.Models.Charts

<PageTitle>@string.Format(L["Common.PageTitleSuffix"], L["Pages.Allocations.Title"])</PageTitle>

<div class="cm-page-header">
    <h1>@L["Pages.Allocations.Title"]</h1>
    <p>@L["Pages.Allocations.Subtitle"]</p>
</div>

@if (_error is not null)
{
    <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Light">@_error</RadzenAlert>
}

<AllocationsChartSection
    SelectedPoolId="@_selectedPoolId"
    SelectedPoolIdChanged="OnPoolChangedAsync"
    SelectedClientIds="@_selectedClientIds"
    SelectedClientIdsChanged="OnClientsChangedAsync"
    SelectedMetric="@_selectedMetric"
    SelectedMetricChanged="OnMetricChangedAsync"
    PoolOptions="@_poolOptions"
    ClientOptions="@_clientOptions"
    MetricOptions="@MetricOptions"
    ChartTitle="@ChartTitle"
    TargetCharts="@_targetCharts"
    AxisScaleType="@_axisScaleType"
    InitialTimeRangeKey="@_initialTimeRangeKey"
    InitialPollingKey="@_initialPollingKey"
    InitialAxisScale="@_initialAxisScale"
    InitialCustomFromUtc="@_initialCustomFromUtc"
    InitialCustomToUtc="@_initialCustomToUtc"
    Loading="@_chartLoading"
    OnFilterChanged="OnFilterChanged"
    MetricSelectionChanged="OnMetricChanged"
    OnTimeRangeChanged="OnTimeRangeChanged"
    OnPollingIntervalChanged="OnPollingIntervalChanged"
    OnAxisScaleChanged="OnAxisScaleChanged" />

<AllocationsClientDetailGrid @ref="_clientDetailGrid"
    Title="@ClientDetailTitle"
    ShowPoolColumn="@ShowPoolColumnInClientGrid"
    Loading="@_chartLoading"
    Rows="@_clientDetailRows"
    IsAccessMetric="@IsAccessMetric"
    ShowDeniedBreakdown="@ShowDeniedBreakdown"
    DeniedViewMode="@AllocationDeniedViewMode" />

<hr class="cm-monitor__separator" />

<AllocationsPoolSummaryGrid @ref="_allPoolsGrid"
    Title="@L["Pages.Allocations.AllResourcePools"]"
    Loading="@_chartLoading"
    Rows="@_poolSummaryRows"
    IsAccessMetric="@IsAccessMetric"
    ShowDeniedBreakdown="@ShowDeniedBreakdown"
    DeniedViewMode="@AllocationDeniedViewMode" />
