@using ClientManager.AdminUI.Models.Charts

@if (Loading)
{
    <SkeletonBlock CssClass="cm-skeleton--heading" />
    <SkeletonBlock CssClass="cm-skeleton--chart" />
}
else if (Charts.Count > 0)
{
    @foreach (var (targetChart, index) in Charts.Select((chart, index) => (chart, index)))
    {
        @if (ShowTitles && !string.IsNullOrEmpty(targetChart.TargetName))
        {
            <span class="cm-dashboard__chart-title">@FormatTitle(targetChart)</span>
        }
        @if (_resizing)
        {
            <SkeletonBlock CssClass="cm-skeleton--chart" Style="@($"height: {HeightPx}px;")" />
        }
        else
        {
            <div class="cm-stacked-chart" style="height: @(HeightPx)px;">
                <div class="cm-stacked-chart__plot">
                    <canvas id="@GetCanvasId(index)"></canvas>
                </div>
                <ul class="cm-stacked-chart__legend" id="@GetLegendId(index)"></ul>
            </div>
        }
    }
}
else
{
    <div class="cm-chart-empty">@ResolvedEmptyMessage</div>
}
