@page "/monitor"
@using ClientManager.AdminUI.Models.Charts

<PageTitle>@string.Format(L["Common.PageTitleSuffix"], L["Pages.Monitor.Title"])</PageTitle>

<div class="cm-page-header">
    <h1>@L["Pages.Monitor.Title"]</h1>
    <p>@L["Pages.Monitor.Subtitle"]</p>
</div>

@if (_error is not null)
{
    <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Light">@_error</RadzenAlert>
}

<MonitorChartSection
    SelectedServiceId="@_selectedServiceId"
    SelectedServiceIdChanged="OnServiceChangedAsync"
    SelectedClientIds="@_selectedClientIds"
    SelectedClientIdsChanged="OnClientsChangedAsync"
    ServiceOptions="@_serviceOptions"
    ClientOptions="@_clientOptions"
    TargetCharts="@_targetCharts"
    AxisScaleType="@_axisScaleType"
    InitialTimeRangeKey="@_initialTimeRangeKey"
    InitialPollingKey="@_initialPollingKey"
    InitialAxisScale="@_initialAxisScale"
    InitialCustomFromUtc="@_initialCustomFromUtc"
    InitialCustomToUtc="@_initialCustomToUtc"
    Loading="@_chartLoading"
    OnFilterChanged="OnFilterChanged"
    OnTimeRangeChanged="OnTimeRangeChanged"
    OnPollingIntervalChanged="OnPollingIntervalChanged"
    OnAxisScaleChanged="OnAxisScaleChanged"
    PollingKey="@_pollingKey" />

<MonitorClientGrid @ref="_clientGrid" Rows="@_clientRows" Loading="@_chartLoading" ShowDeniedBreakdown="@ShowDeniedBreakdown" />

<hr class="cm-monitor__separator" />

<MonitorServicesGrid @ref="_servicesGrid" Rows="@_allServiceStats" Loading="@_chartLoading" ShowDeniedBreakdown="@ShowDeniedBreakdown" />
