<dialog id="components-reconnect-modal" data-nosnippet tabindex="-1">
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            @L["Reconnect.Rejoining"]
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            @{
                var retryParts = L["Reconnect.RetryInSeconds"].Value.Split("{0}");
            }
            @retryParts[0]<span id="components-seconds-to-next-attempt"></span>@retryParts[1]
        </p>
        <p class="components-reconnect-failed-visible">
            @L["Reconnect.Failed"]<br />@L["Reconnect.FailedReload"]
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            @L["Reconnect.Retry"]
        </button>
        <p class="components-pause-visible">
            @L["Reconnect.SessionPaused"]
        </p>
        <button id="components-resume-button" class="components-pause-visible">
            @L["Reconnect.Resume"]
        </button>
        <p class="components-resume-failed-visible">
            @L["Reconnect.ResumeFailed"]<br />@L["Reconnect.ResumeFailedReload"]
        </p>
    </div>
</dialog>
